<!-- views/home.ejs -->

<div class="list-group" style="display: inline;">
    <!-- loop over blog posts and render them -->
    <% if(files.length != 0 ) { %>
    <% files.forEach((file) => { %>
      <p class="list-group-item-text">Download using this url: http://localhost:3000/download/<%= file._id %></p>
      <a href="/download/<%= file._id %>" class="list-group-item">
        <h4 class="list-group-item-heading"><%= file.filename %></h4>
      </a>
    <% }) %>
    <% } else { %>
        <p>No file(s) found</p>
    <% } %>
  </div>